<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.playstamp.manager.home.mybatis.IManagerHomeDAO">
	
	<!-- 총 사용자 수 조회 -->
	<select id="countUser" resultType="java.lang.Integer">
		SELECT COUNT(*) AS COUNTUSER
		FROM TBL_USERINFO
	</select>
	

	<!-- 총 리뷰 수 조회 -->
	<select id="countPlayRev" resultType="java.lang.Integer">
		SELECT COUNT(*) AS COUNTPLAYREV
		FROM TBL_PLAY_REV
	</select>
	
	
	<!-- 가입 회원 통계 -->
	<select id="statisticsUserTotal" parameterType="String" resultType="com.playstamp.manager.home.ManagerHome">
		SELECT NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'01', COUNT(USER_CD))),0) "jan"
		     , NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'02', COUNT(USER_CD))),0) "feb"
		     , NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'03', COUNT(USER_CD))),0) "mar"
		     , NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'04', COUNT(USER_CD))),0) "apr"
		     , NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'05', COUNT(USER_CD))),0) "may"
		     , NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'06', COUNT(USER_CD))),0) "jun"
		     , NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'07', COUNT(USER_CD))),0) "jul"
		     , NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'08', COUNT(USER_CD))),0) "aug"
		     , NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'09', COUNT(USER_CD))),0) "sep"
		     , NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'10', COUNT(USER_CD))),0) "oct"
		     , NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'11', COUNT(USER_CD))),0) "nov"
		     , NVL(SUM(DECODE(TO_CHAR(JOIN_DT,'MM'),'12', COUNT(USER_CD))),0) "dec" 
		FROM TBL_USERINFO
		WHERE TO_CHAR(JOIN_DT,'YYYY') = #{arg0}
        GROUP BY JOIN_DT
	</select>
	
	<!-- 방문 회원 통계 -->
	<select id="statisticsVisitorTotal" parameterType="String" resultType="com.playstamp.manager.home.ManagerHome">
		SELECT NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'01', COUNT(USER_CD))),0) "jan"
		     , NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'02', COUNT(USER_CD))),0) "feb"
		     , NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'03', COUNT(USER_CD))),0) "mar"
		     , NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'04', COUNT(USER_CD))),0) "apr"
		     , NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'05', COUNT(USER_CD))),0) "may"
		     , NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'06', COUNT(USER_CD))),0) "jun"
		     , NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'07', COUNT(USER_CD))),0) "jul"
		     , NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'08', COUNT(USER_CD))),0) "aug"
		     , NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'09', COUNT(USER_CD))),0) "sep"
		     , NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'10', COUNT(USER_CD))),0) "oct"
		     , NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'11', COUNT(USER_CD))),0) "nov"
		     , NVL(SUM(DECODE(TO_CHAR(LOGIN_DT,'MM'),'12', COUNT(USER_CD))),0) "dec" 
		FROM TBL_LOGIN
		WHERE TO_CHAR(LOGIN_DT,'YYYY') = #{arg0}
        GROUP BY LOGIN_DT
	</select>
	
</mapper>