<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playstamp.myactivity.mybatis.IMyActivityDAO">

	<!-- 좋아요 한 총 리뷰 글 개수 출력 -->
	<select id="likeReviewCount" resultType="int">
		select count(playrev_cd) as count
		from tbl_like
		where user_cd = '${user_cd}'
	</select>
	
	<!-- 댓글 단 총 리뷰 글 개수 출력 -->
	<select id="commentReviewCount" resultType="int">
		select count(playrev_cd) as count
		from tbl_comment
		where user_cd = '${user_cd}'
	</select>
	
	<!-- 좋아요 한 리뷰 글들 가져오기 -->
	<select id="getLikeListWithPaging" resultType="com.playstamp.myactivity.MyLikeCommentReview">
	<![CDATA[
		select bno, play_nm, title, user_nick, playrev_dt, view_cnt, rev_distin_cd
		from
		(
    		select bno, play_nm, title, user_nick, playrev_dt, view_cnt, user_cd, rev_distin_cd
   			from view_mylike_rev
    		where bno<= #{pageNum} * #{amount}
		)
		where bno>(#{pageNum}-1)*#{amount} and user_cd = '${user_cd}'
	]]>
	</select>

	<!-- 
	페이징 테스트용~~ 연극 리스트 가져옴
	<select id="getLikeListWithPaging" resultType="com.playstamp.myactivity.MyLikeCommentReview">
	<![CDATA[
		select bno, play_nm, title, user_nick, playrev_dt, view_cnt
		from
		(
    		select bno, play_nm, title, user_nick, playrev_dt, view_cnt
   			from view_pagetest
    		where bno<= #{pageNum} * #{amount}
		)
		where bno>(#{pageNum}-1)*#{amount}
	]]>
	</select>
	-->
	
	<!-- 댓글 단 리뷰 글들 가져오기 -->
	<select id="getCommentListWithPaging" resultType="com.playstamp.myactivity.MyLikeCommentReview">
	<![CDATA[
		select bno, play_nm, title, user_nick, playrev_dt, view_cnt, rev_distin_cd
		from
		(
    		select bno, play_nm, title, user_nick, playrev_dt, view_cnt, user_cd, rev_distin_cd
   			from view_mycomment_rev
    		where bno<= #{pageNum} * #{amount}
		)
		where bno>(#{pageNum}-1)*#{amount} and user_cd = '${user_cd}'
	]]>
	</select>

</mapper>