<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.playstamp.user.mybatis.IUserDAO">
				   
	<!-- 유저 입력 아이디 중복체크 -->
	<select id="userIdCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) AS COUNT 
		FROM TBL_USERINFO 
		WHERE USER_ID = #{user_Id}
	</select>
	
	
	<!-- 회원가입 -->
	
	<!-- 1) 기본 인서트 테스트 -> 성공 
	<insert id="userInsert">
		INSERT INTO TBL_USERINFO(USER_CD, USER_ID, USER_NM, USER_TEL
		, USER_PW, USER_NICK, USER_MAIL, USER_IMG)
		VALUES ('10', #{userId}, #{userNm}, #{userTel}, #{userPw}, #{userNick}, #{userMail}, 'URL')
	</insert> -->
	
	<!-- 2) 프로시저 테스트 -->
	<insert id="userInsertProcedure" statementType="CALLABLE">
		{
			CALL PRC_USER_INSERT(#{user_Id}, #{user_Nm}, #{user_Tel}, #{user_Pw}, #{user_Nick}, #{user_Mail}, 'UURL')
		}
	</insert>
	
	
	<!-- 유저 로그인 -->
	<select id="userLogin" resultType="String">
		SELECT USER_NICK
		FROM TBL_USERINFO 
		WHERE USER_ID = #{arg0} AND USER_PW = #{arg1}
	</select>
	
	
	<!-- 유저 정보 조회 -->
	<select id="searchUserInfo" parameterType="String" resultType="com.playstamp.user.User">
		SELECT *
		FROM TBL_USERINFO
		WHERE USER_ID = #{user_Id}
	</select>
	
	
	<!-- 유저 정보 업데이트 -->
	<update id="updateUserInfo">
		UPDATE TBL_USERINFO
		SET USER_NICK = #{user_Nick}, USER_TEL=#{user_Tel}, USER_PW=#{user_Pw}
		WHERE USER_ID = #{user_Id}
	</update>

</mapper>